.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  box-shadow: 0 0 2px rgb(174, 170, 170);
  height: 130px;
  background-color: white;
  padding: 35px 15px;
  cursor: pointer;
  /* margin-bottom: 200px; */
  /* bottom: 500px; */
}
.swiper-button-next {
  border-radius: 0 5px 5px 0;
}
.swiper-button-prev {
  border-radius: 5px 0 0 5px;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 20px !important;
  color: black;
  font-weight: 600;
}

.swiper-button-prev:active,
.swiper-button-next:active {
  transform: scaleX(0.5);
}
/* .card:hover {
  box-shadow: 10px 0 10px black;
} */
.leaflet-container {
  width: 100%;
  height: 60%;
  margin-top: 80px;
}
